import datetime
from datetime import date


class Tasks():
    def Total_Clients_Outreached():
        Close_Account = int(input("Total Clients That Want To Close Their Account: "))
        No_Respopnse = int(input("Total Clients That Did Not Respond To Outreach: "))
        Keep_Account = int(input("Total Clients That Want To Keep Their Account: "))
        Potential_Client = int(input("Total Clients That Are Potential Clients: "))
        Business_Closed = int(input("Total Clients That Have Closed Their Business: "))
        Total = Close_Account + No_Respopnse + Keep_Account + Potential_Client + Business_Closed
        print("Clients Outreached So Far: ", Total)
        Total_Clients_From_Master_list = 3000
        Remaining_Calls = Total_Clients_From_Master_list - Total
        print("As of ", date.today())
        print("Remaining Clients To Outreach : ", Remaining_Calls)


Tasks.Total_Clients_Outreached()
