import datetime
from datetime import date

def Total_Calls_Made(Red, Yellow, Green, Gray, Blue):
    Total = Red + Yellow + Green + Gray + Blue
    print("Clients Outreached So Far: ", Total)
    Remaining_Calls = 3000 - Total
    print("Remaining Clients To Outreach : ", Remaining_Calls)

Keep_Account = int(input("Total Clients That Want To Keep Their Account: "))
Close_Account = int(input("Total Clients That Want To Close Their Account: "))
No_Respopnse = int(input("Total Clients That Did Not Respond To Outreach: "))
Potential_Client = int(input("Total Clients That Are Potential Clients: "))
Business_Closed = int(input("Total Clients That Have Closed Their Business: "))

print("As of", date.today())
Total_Calls_Made(Keep_Account, Close_Account, No_Respopnse, Potential_Client, Business_Closed)


